.about {
    font-size: 70px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    width: 70vw;

    /* animation: fade 2s linear; */
}
@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }


.welcome2 {
    display: flex;
    z-index: 1;
    border-left: 4px solid white;
    height: 50vh;
    width: 2vw;
    margin-top: 0vh;
    margin-left: 10vw;
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  
}
.mission {
    color: rgb(202, 200, 200);
    font-size: 20px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    width: 70vw;
    margin-top: -30vh;
    margin-left: 21vw;
    z-index: 2;
}

.mission .hh {
    font-size: 20px;
    font-weight: 800;
    color: rgb(243, 118, 118);
    z-index: 1;
}

.cornerboxleft {
    width: 1.5vw;
    height: 3vh;
    border-left: 1px solid white;
    border-top: 1px solid white;
    z-index: 1;
}

.cornerboxright {
    width: 1.5vw;
    height: 3vh;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    z-index: 1;
}

.bg {
    z-index: 0;
    width : 160vw;
    height: 200vh;
    margin-top: -70vh;
    margin-left: -70vw;
}